{% include "header.html" %}

<!-- Post Content -->
<article>
  <div class="container px-4 px-lg-5 mt-5 pt-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="row">
          <div class="col">
            <h4>Tipo de documento</h4>
            <p>{{ post.document_type.name }}</p>
          </div>
          <div class="col">
            <h4>Fecha de pago</h4>
            <p>{{ post.payment_date }}</p>
          </div>
          <div class="col">
            <h4>Fecha de facturacion</h4>
            <p>{{ post.bill_date }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4>Concepto de la factura</h4>
            <p>{{ post.bill_concept }}</p>
          </div>
          <div class="col">
            <h4>Descripcion</h4>
            <p>{{ post.description }}</p>
          </div>
          <div class="col">
            <h4>Etiquetas</h4>
            {%for tag in post.tags:%}
            <div style="color: gray;">
              #{{ tag.name }}
            </div>
            {%endfor%}
          </div>
        </div>

        <div class="row">
          <div class="col">
            <h4>Factura PDF</h4>
            {%for file in post.bill_pdf.files%}
              <a href="{{url_for('downloadFile', file_id = file.id )}}">Descargar PDF</a>
            {%endfor%}
          </div>
          <div class="col">
            <h4>Imagen de pago de Cliente</h4>
            {%for file in post.client_deposit_image.files%}
            <div class="mb-3">
              <img src="{{url_for('downloadFile', file_id = file.id )}}" class="img-fluid" alt="">
            </div>
            {%endfor%}
          </div>
          <div class="col">
            <h4>Imagen de pago a empresa</h4>
            {%for file in post.deposit_image.files%}
            <div class="mb-3">
              <img src="{{url_for('downloadFile', file_id = file.id )}}" class="img-fluid" alt="">
            </div>
            {%endfor%}
          </div>
        </div>
        {%if current_user.role.can_edit_bills%}
        <div class="d-flex justify-content-end mb-4">
          <a class="btn btn-primary float-right" href="{{url_for('edit_post', bill_id=post.id)}}">Editar Movimiento</a>
        </div>
        {%endif%}
      </div>
    </div>
  </div>
</article>


{% include "footer.html" %} 