{% include "header.html" %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('../static/assets/img/admin-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Administracion</h1>
          <span class="subheading">Panel de Administracion Usuarios.</span>
          
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <!-- Post preview-->
        {% for user in all_users %}  
        <div class="post-preview">
          <a href="#">
            <h2 class="post-title">{{ user.name}}</h2>
            <h3 class="post-subtitle">{{ user.email }}</h3>
            {%if user.is_admin:%}
              <h3 class="post-subtitle" style = 'color:red;'>admin</h3>
            {%endif%} 
          </a>
          <p class="post-meta">            
            <a href="{{url_for('edit_user', user_id = user.id)}}">Editar</a>
            <a href="{{url_for('delete_user', user_id = user.id)}}">Eliminar</a>
            <a href="{{url_for('change_admin', user_id = user.id)}}">{{ 'Quitar Admin' if user.is_admin else 'Hacer Admin'}}</a>
          </p>
        </div>
        <!-- Divider-->
        <hr class="my-4" />
        {% endfor %}
        <!-- New Post -->
        <div class="d-flex justify-content-end mb-4">
          <a class="btn btn-primary float-right" href="{{url_for('register')}}">Crear nuevo usuario</a>
        </div>
      </div>
    </div>
  </div>
  

{% include "footer.html" %}