{% from "macros.html" import render_select_field %}   
{% from "bootstrap5/form.html" import render_form %} {% block content %} 
{% include "header.html" %}


<!-- Main Content-->
<div class="container px-4 px-lg-5 mt-5 pt-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <!--TODO: remake render_form macro to make custome search layout and not send CSRF token -->
      <!-- {{render_form(filter_form, method='get')}} -->

      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <form class="d-flex" action="" method="get" role="form">
            
            {{ filter_form.folio(class="form-control me-2", placeholder = 'Folio') }}
            <!-- <input class="form-control me-2" type="search" placeholder="Folio" aria-label="Search" name="folio"> -->
            {{render_select_field(filter_form.document_type)}}
            {{render_select_field(filter_form.author)}}
            {{render_select_field(filter_form.tags)}}

            <button class="btn btn-primary" type="submit">Buscar</button>

          </form>
        </div>
      </nav>
      <hr class="my-4" />

      <!-- Post preview-->
      {% for post in all_posts %}

      <div class="post-preview">
        <a href="{{ url_for('bills.show', bill_id=post.id) }}">
          <h2 class="post-title">{{ post.name }}</h2>
          <h3 class="post-subtitle">{{ post.folio }}</h3>
          <h3 class="post-subtitle">{{ post.bill_concept }}</h3>
        </a>

        <p class="post-meta">
          Creado por <a href="#">{{post.author.name}}</a> el {{post.bill_date}}
        </p>
      </div>
      {%if current_user.role.can_delete_bills %}
      <a class="btn btn-danger" href="{{url_for('bills.delete_bill', bill_id=post.id) }}">Eliminar</a>
      {%endif%}
      <!-- Divider-->
      <hr class="my-4" />
      {% endfor %}

      <!-- New Post -->
      {%if current_user.role.can_create_bills %}
      <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-primary float-right" href="{{url_for('bills.add_new_bill')}}">Nuevo Documento</a>
      </div>
      {%endif%}

      <!-- Links to other pages -->
      <div class="d-flex justify-content-center my-4">
        {% if all_posts.has_prev %}
            <a class="btn btn-outline-primary mx-2" href="{{ url_for('bills.get_all', page=all_posts.prev_num) }}">
              <i class="fas fa-chevron-left"></i> Anterior
            </a>
        {% endif %}
        {% if all_posts.has_next %}
            <a class="btn btn-outline-primary mx-2" href="{{ url_for('bills.get_all', page=all_posts.next_num) }}">
              Siguiente <i class="fas fa-chevron-right"></i>
            </a>
        {% endif %}
      </div>

    </div>
  </div>
</div>



{% include "footer.html" %}{%endblock%}