{% macro render_text_field(field) %}
<div class="form-group my-3">
    *{{ field.label(class="form-label") }}

    {% if field.errors %}
        {{ field(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in field.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ field(class="form-control" )}}
    {% endif %}
</div>
{% endmacro %}

{% macro render_select_field(field) %}
<select class="form-select me-2" aria-label="Default select example" id="{{field.id}}" name="{{field.name}}">
    <option value="-1" selected>{{field.label}}</option>
    {% for subfield in field %}
      {{ subfield }}
    {% endfor %}
</select>
{% endmacro %}
