{% from "macros.html" import render_text_field %}
{% from "bootstrap5/form.html" import render_form %} {% block content %}
{%include "header.html" %}

<main class="mb-4 mt-5 pt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form method="POST" class="form-horizontal" action="{{url_for('bills.add_new_bill')}}"
          enctype="multipart/form-data" role='form' novalidate>
          {{ form.hidden_tag() }}

          *{{ form.document_type.label(class="form-label") }}
          <div role="group" data-toggle="buttons">
            {% if form.document_type.errors %}
            {% for subfield in form.document_type %}
            {{ subfield(class="btn-check is-invalid") }} {{ subfield.label(class = "btn btn-outline-primary mx-1" ) }}
            {% endfor %}
            <div class="invalid-feedback">
              {% for error in form.document_type.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {% for subfield in form.document_type %}
            {{ subfield(class="btn-check") }} {{ subfield.label(class = "btn btn-outline-primary mx-1" ) }}
            {% endfor %}
            {% endif %}
          </div>

          {{render_text_field(form.tags)}}
          {{render_text_field(form.bill_date)}}
          {{render_text_field(form.bill_concept)}}
          {{render_text_field(form.description)}}
          {{render_text_field(form.bill_file_pdf)}}
          {{render_text_field(form.payment_date)}}
          {{render_text_field(form.client_file_image)}}
          {{render_text_field(form.deposit_file_image)}}

          <div class="form-group my-3">
            <div class="d-flex justify-content-start">
              {{ form.submit(class="btn btn-primary") }}
              <a href="{{url_for('bills.get_all')}}" class="btn btn-danger mx-3">Cancelar</a>
            </div>
          </div>

        </form>
        
      </div>
    </div>
  </div>
</main>
{% include "footer.html" %} {% endblock %}