{% include "header.html" %}

<!-- Page Header-->
<!-- <header class="masthead" style="background-image: url('../static/assets/img/admin-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Administracion</h1>
          <span class="subheading">Panel de Administracion Roles.</span>
          
        </div>
      </div>
    </div>
  </div>
</header> -->

<div class="container px-4 px-lg-5 mt-5 pt-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <!-- Post preview-->
        {% for role in all_roles %}  
        <div class="post-preview">
          <a href="#">
            <h2 class="post-title">{{ role.role_title}}</h2>
            <h3 class="post-subtitle">{{ role.role_description }}</h3>
            <!-- <h3 class="post-subtitle" style = 'color:red;'>{{role.role_title}}</h3>   -->
          </a>
          <p class="post-meta">            
            {%if current_user.role.can_edit_roles%}    
            <a href="{{url_for('roles.edit_role', role_id = role.id)}}">Editar</a>
            {%endif%}

            {%if current_user.role.can_delete_roles and current_user.role != role %}
            <a href="{{url_for('roles.delete_role', role_id = role.id)}}">Eliminar</a>
            {%endif%}
          </p>
        </div>
        <!-- Divider-->
        <hr class="my-4" />
        {% endfor %}
        <!-- New Post -->
        {%if current_user.role.can_create_roles%}
        <div class="d-flex justify-content-end mb-4">
          <a class="btn btn-primary float-right" href="{{url_for('roles.create_role')}}">Crear nuevo rol</a>
        </div>
        {%endif%}
      </div>
    </div>
  </div>
  

{% include "footer.html" %}