{% from "bootstrap5/form.html" import render_form %} {% block content %} 
{%include "header.html" %}

<!-- Page Header -->
<!-- <header
  class="masthead"
  style="background-image: url('../static/assets/img/register-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Registrar</h1>
          <span class="subheading">Empieza a capturar tus datos!</span>
        </div>
      </div>
    </div>
  </div>
</header> -->

<main class="mb-4 mt-5 pt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p class="flash">{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {{render_form(form)}}
        <hr class="my-4" />
        {% for item in items: %}
        <div class="post-preview">

            <h2 class="post-title">{{item.name}}</h2>
          <p class="post-meta">            
            {%if current_user.role.can_manage_document_types %}
            <a href="{{url_for('doc_types.delete_document_type', type_id = item.id)}}">Eliminar</a>
            {%endif%}
          </p>
        </div>
        {%endfor %}
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %} {% endblock %}
